/* CSS Document */

#submenuIndex {
	background:url(../imagenes/imgIndex/fondoSubMenu.gif);
	float:left;	
	left:305px;
	top:56px;
	height:440;
	width:220;
	position:absolute;
}

#submenuLink {
	float:left;
	height:42px;
	width:189px;
	position:absolute;
	left: 15px;
	top: 91px;
}
